footer {
  background-color: #1e1e1e;
}

footer .center {
  display: flex;
  justify-content: center;
  margin: 0;
}
footer .social-logo {
  height: 30px;
  width: 30px;
  margin: 0 8px;
}
footer .social-logo:hover {
  opacity: 0.7;
}

footer .club-logo {
  height: 40px;
  width: auto;
  margin: 0;
}

footer .club-logo:hover {
  opacity: 0.7;
}

footer p {
  font-size: 12;
}

footer p:hover {
  color: #a3a1a1;
}

.copyright {
  font-size: 8;
}
.copyright:hover {
  color: white;
}
