header {
  background-color: #1e1e1e;
  color: white;
  padding: 10px;
  text-align: center;
  display: flex;
}

.link {
  flex: 1;
}

.link a {
  display: inline-flex;
  align-items: center;
  height: 100%;
}

header div {
  display: flex;
  justify-content: center;
}

.active {
  color: #c0512a;
}

.logo {
  flex-grow: 2;
}

.logo .logo-img {
  width: auto;
  height: 40px;
}
