/* Scrollbar style for Chrome */

/* Track */
.scroll::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

.scroll::-webkit-scrollbar-track {
  background: #303030;
  border: solid 2px rgba(33, 33, 33, 0.5);
}

/* Thumb */
.scroll::-webkit-scrollbar-thumb {
  background: #404040;
}

.scroll::-webkit-scrollbar-thumb:hover {
  background: #505050;
}

.scroll::-webkit-scrollbar-thumb:active {
  background: #404040;
}

.scroll::-webkit-scrollbar-thumb:vertical {
  border-top: solid 2px rgba(33, 33, 33, 0.5);
  border-bottom: solid 2px rgba(33, 33, 33, 0.5);
}

.scroll::-webkit-scrollbar-thumb:horizontal {
  border-right: solid 2px rgba(33, 33, 33, 0.5);
  border-left: solid 2px rgba(33, 33, 33, 0.5);
}

/* Buttons */
.scroll::-webkit-scrollbar-button {
  border-style: solid;
  height: 16px;
  width: 16px;
}

/* Up */
.scroll::-webkit-scrollbar-button:vertical:decrement {
  border-width: 0 7px 14px 7px;
  border-color: transparent transparent #404040 transparent;
}

.scroll::-webkit-scrollbar-button:vertical:decrement:hover {
  border-color: transparent transparent #505050 transparent;
}

/* Down */
.scroll::-webkit-scrollbar-button:vertical:increment {
  border-width: 14px 7px 0 7px;
  border-color: #404040 transparent transparent transparent;
}

.scroll::-webkit-scrollbar-button:vertical:increment:hover {
  border-color: #505050 transparent transparent transparent;
}

/* Left */
.scroll::-webkit-scrollbar-button:horizontal:decrement {
  border-width: 7px 14px 7px 0;
  border-color: transparent #404040 transparent transparent;
}

.scroll::-webkit-scrollbar-button:horizontal:decrement:hover {
  border-color: transparent #505050 transparent transparent;
}

/* Right */
.scroll::-webkit-scrollbar-button:horizontal:increment {
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent #404040;
}

.scroll::-webkit-scrollbar-button:horizontal:increment:hover {
  border-color: transparent transparent transparent #505050;
}
