/* Hide scrollbar */
.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.grid-container {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
}

.anchor {
  anchor-name: --myAnchor;
}

.infobox {
  position: absolute;
  position-anchor: --myAnchor;
  /* right: anchor(left);
  bottom: anchor(bottom); */
  anchor-position: center;
  transform: translate(-60%, -40%) scale(0.9);
}
